:root {
    font-size: 16px; /* Base font size */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background:  #1B263B;
}

header {
    text-align: center;
    padding: 2rem 0;
    background: #f4f4f4;
}

nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: transparent;
    transition: background 0.3s ease-in-out;
    z-index: 1000;
    padding: 1rem 0;
    display: flex;
    background: transparent; /* Darker primary color */
}
nav.scrolled {
    background: #0D1B2A; /* Darker primary color */
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin-left: auto;
    margin-right: 3rem;
}

nav ul li {
    margin: 0 1rem;

}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem; /* This remains fixed for readability */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: inline-block; /* Ensure the transform and box-shadow apply correctly */

}

nav ul li a:hover {
    transform: scale(1.1); /* Scale up the a */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a subtle shadow for a 3D effect */
    color:#0074D9;
}

section {
    padding: 2rem;
    transform: translateY(1.25rem); /* 20px -> 1.25rem */
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    background: #1B263B; /* Light dark background color */
    color: white; /* Ensure text is readable on dark background */
}

.certifications-content, .about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; /* Added to handle smaller screens */
    text-align: center; /* Center text */
    padding: 1rem;
}

.certifications-text,.about-text {
    flex: 1 1 40%; /* Flex grow, shrink, and basis */
    padding-right: 1rem; /* 1rem = 16px (based on root font size) */
}

.certifications-image,.about-image {
    flex: 1 1 40%; /* Flex grow, shrink, and basis */
}

.certifications-image img, .about-image img {
    max-width: 100%;
    height: auto;
    border-radius: 0.5rem; /* 8px -> 0.5rem */
}

.about-me-description {
    text-align: justify;
    color:#8290a1;
    line-height: 1.5;
}

.certifications-title,.about-me-title {
    font-size: 5.5rem; /* Adjust as needed */
    color: transparent;
    -webkit-text-stroke: 1px #8290a1 ; /* Darker primary color */
    text-align: center; /* Optional: Center align text */
    position: relative;
}

.certifications-title-container,.about-me-title-container {
    position: relative;
    display: inline-block;
}

.certifications-title-container h1,.about-me-title-container h1 {
    margin: 0;
    padding: 0;
}

.certifications-subtitle,.about-me-subtitle {
    font-size: 3rem;
    font-style: Arial, sans-serif;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50rem;
    color: #fdfeff; /* Lighter dark color */
    overflow: hidden; 
}
.about-me-subtitle::after {
    content: '|'; /* Typing cursor */
    display: inline-block;
    width: 0.15em;
    margin-left: 0.1em; /* Adjust as needed */
    animation: blink-caret 1s step-end infinite;
}

@keyframes blink-caret {
    from, to {opacity: 0; }
    50% { opacity: 1; }
}


@media (max-width: 48rem) { /* 768px -> 48rem */
    .about-text, .about-image {
        flex: 1 1 100%; /* Full width on small screens */
        padding-right: 0;
    }

    .about-image img {
        max-height: none; /* Remove height restriction on small screens */
    }
}

.fade-in-section {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 0.6s ease-out;
}

.fade-in-section.visible {
    opacity: 1;
    transform: translateY(0);
}

.btn {
    padding: 12px 24px;
    background-color: #0D1B2A; /* Adjusted to a darker blue for better visibility */
    color: #fdfeff; /* Lighter dark color for better contrast */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width:15rem;
}

.btn:hover {
    transform: scale(1.1);
    background-color: #005bb5; /* Darker primary color for hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.image-row {
    display: flex;
    align-items: center; /* Vertically align items */
    gap: 10px; /* Add space between items */
    margin-top: 20px;
    transition: transform 0.3s ease;
}

.image-row img {
    width: auto;
    height: 2.5rem;
    cursor: pointer;
    transition: transform 0.3s ease; /* Smooth transition for transform */
}

.image-row img:hover {
    transform: scale(1.2);
    filter: invert(30%) sepia(31%) saturate(4833%) hue-rotate(192deg) brightness(98%) contrast(101%);
}
.unlisted-list{
    list-style: none;
    display: flex;
    padding: 0;
    margin-left: auto;
    margin-right: 3rem;
}
.unlisted-list li{
    margin: 0 1rem;
    cursor:pointer;
}
.unlisted-list li.active {
    color: #0074D9; /* Or any color you prefer */
    font-weight: bold;
    text-decoration: underline; /* Adds underline to the active item */
}
.unlisted-list li:hover{
    transform: scale(1.1);
    color:#0074D9;
}

.content-to-changes {
    background-color: #0D1B2A;
    border-radius: 1rem;
    padding: 3rem;
    text-align: left;
    width: 600px;
    height: 180px;
    overflow: auto;
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: #8290a1 #0D1B2A; /* Firefox */

    /* Webkit (Safari, Chrome) */
    scrollbar-width:auto;
    scrollbar-color: #8290a1 #0D1B2A;

    /* Optional: Additional styles for track and thumb */
}

body::-webkit-scrollbar, .content-to-changes::-webkit-scrollbar {
    width: 10px; /* Width of the entire scrollbar */
}

body::-webkit-scrollbar-track, .content-to-changes::-webkit-scrollbar-track {
    background: #0D1B2A; /* Color of the track */
}

body::-webkit-scrollbar-thumb, .content-to-changes::-webkit-scrollbar-thumb {
    background-color: #8290a1; /* Color of the scroll thumb */
    border-radius: 10px; /* Rounded corners */
    border: 2px solid #0D1B2A; /* Border around the thumb */
}

body::-webkit-scrollbar-thumb:hover, .content-to-changes::-webkit-scrollbar-thumb:hover {
    background-color: #607D8B; /* Darker color when hovering over */
}

.content-to-changes ul{
    margin-left: 4.5rem;
    margin-top:0rem;
}
.content-to-changes ul li{
    margin-right: 1rem;
    color:#8290a1;
    line-height: 1.5;
}

.unlisted-list li.active {
    color: #0074D9; /* Or any color you prefer */
    font-weight: bold;
    text-decoration: underline; /* Adds underline to the active item */
}
 .hiraya-logo, .NU-logo{
    width: 4rem; 
    height: auto;
    margin-right: 2rem;
}
.experience-hiraya, .education-college{
    line-height: 1.5;
}
.testing-tools-div, .project-management-tools-div,
.development-tools-div-part2, .development-tools-div, .design-tools-div, .nu-fv-div{
    display: flex; 
    align-items: center;
}


.testing-tools-div img,.project-management-tools-div img,.development-tools-div-part2 img, 
.development-tools-div img, .design-tools-div img{
    width: 3rem; 
    height: 3rem;
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: block; /* Ensure images are displayed as block elements */
    transition: transform 0.3s ease; /* Smooth transition for transform */
}
.testing-tools-div img:hover,.project-management-tools-div img:hover, 
.development-tools-div-part2 img:hover, .development-tools-div img:hover, 
.design-tools-div img:hover{
transform: scale(1.2);
}

/* Custom Tooltip CSS */
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #0074D9;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 100%; /* Position above the image */
    left: 30%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
.soft-skills-div-part2, .soft-skills-div{
    display: flex;
    align-items: center;
    justify-content: flex-start;

    
}
.soft-skills-div{
    margin-top: 1rem;
}
.soft-skills-div-part2 span,.soft-skills-div span{
    margin: 0.5rem 1rem 0.5rem 0;
    background-color: #0074D9;
    color:#fff;
    text-align: center;
    padding: 0.5rem;
    border-radius: 1rem;
}
.certifications-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

.certifications-item {
    flex: 1 1 calc(33.333% - 2rem);
    max-width: calc(33.333% - 2rem);
    box-sizing: border-box;
    text-align: center;
    background-color: #0D1B2A;
    border-radius: 0.5rem;
    transition: transform 0.3s ease;
    cursor: pointer;
    margin:0.3rem 0.3rem;
}
.certifications-item:hover{
    transform:scale(1.1);
}
.certifications-item img {
    margin-top: 0.5rem;
    max-width: 95%;
    height: auto;
    border-radius: 0.5rem; /* 8px -> 0.5rem */
    filter: grayscale(80%);
    transition: filter 0.5s ease;
    opacity:0.8;
}
.certifications-item img:hover{
    filter:none;
    opacity:1;
}
.certification-title {
    margin-top: 0.5rem;
    font-size: 1.25rem;
    color: #8290a1; /* Adjust as needed */
}
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
    overflow: auto;
}

.modal img {
    display: block;
    margin: auto;
    max-width: 90%;
    max-height: 80%;
    margin-top: 5%;
}

.modal .close {
    color: #fff;
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}